<!DOCTYPE html>
<html lang="en" ng-app='store'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/angular/angular.min.js" charset="utf-8"></script>
    <script src="/js/myapp.js" charset="utf-8"></script>
</head>
<body ng-controller="StoreController as store">
