<% include ../header %>
    <div class="jumbotron">
        <% object.forEach(function(item){ %>
            <p><%= item %></p>
        <% }); %>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h1 class="text-center">Sidebar</h1>

        </div>
        <div class="col-md-8 col-md-offset-1">
            <h1 class="text-center">Content</h1>
        </div>
    </div>
<% include ../footer %>
